.cardBody {
    padding-top: 15px;
    padding-bottom: 15px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 60px;
    grid-gap: 20px;
    padding: 10px 0 10px 30px;
}

.lineDraw {
    width: 60px;
    background-color: #e7dfdf;
    height: 2px;
}

a {
    font-size: 14px;
    font-weight: 700;
}

.superNav{
    font-size:13px;
}

.form-control {
    outline:none !important;
    box-shadow: none !important;
}

@media screen and (max-width:540px) {
    .centerOnMobile {
        text-align: center;
    }
}